.chatBox {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 1000px;
    left: 50px;
}

.chatBottomArea{
    position: absolute;
    width: 80%;
    height: 35px;
    bottom: 5px;
    left: 200px;
}

.textBox {
    position: relative;
    display: inline-block;
    font-size: 18px;
    width: 60%;
    height: auto;
    bottom: 0px;
    left: 95px;
    resize: none;
    border: 1px solid #AFAFAF;
    border-radius: 5px;
}

.sendButton {
    position: relative;
    display: inline-block;
    font-family: copperplate;
    height: 27px;
    font-size: 18px;
    margin-top: 10px;
    bottom: 8px;
    right: -120px;
    font-weight: 900;
    background-color: #ffd700;
    color: #010101;
    border: none;
}

.sidebar {
    position: absolute;
    height: 600px;
    width: 200px;
    left: 0px;
    top: 125px;
    overflow: auto;
    border-radius: 2px;
}

.sidebarUser {
    position: relative;
    height: 30px;
    width: 180px;
    margin: 10px;
    background-color: white;
    font-family: copperplate;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    color: #010101;
    border: 2px solid #E4E4E4;
}

.sidebarUser:hover{
    border: 1px solid #ffd700;
}

.sidebarUserClicked {
    position: relative;
    height: 30px;
    width: 180px;
    margin: 10px;
    background-color: white;
    font-family: copperplate;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    color: #010101;
    border: 2px solid #ffd700;
}


.messages {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 135px;
    left: 210px;
    padding: 5px;
    overflow: auto;
    border-radius: 5px;
}

.messages:hover{
    border: 1px solid #ffd700;
}

.messagesEnd{
    height: 1px;
    max-width:50%;
    min-width:150px;
    padding:2px;
    margin:3px;
    margin-right: 500px;
    border-radius: 2px;
    float:  left;
    clear: left;
    word-wrap: break-word;
}

.sentMessage {
    color: #010101;
    max-width:50%;
    min-width:150px;
    background: #ffeec0;
    padding:2px;
    margin:3px;
    margin-left: 20px;
    margin-right: 500px;
    border-radius: 2px;
    border:1px solid #ffdd7c;
    float:  left;
    clear: left;
    word-wrap: break-word;
}

.receivedMessage {
    max-width:50%;
    min-width:150px;
    padding:2px;
    margin:3px;
    margin-right: 20px;
    border-radius: 2px;
    border:1px solid #ffdd7c;
    color: #010101;
    float:  right;
    clear: right;
    word-wrap: break-word;
}

button.transactButton{
    position: absolute;
    right: 0px;
    top: 135px;
    height: 60px;
    width: 120px;
    background-color: white;
    font-family: copperplate;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    color: #010101;
    border: 2px solid #E4E4E4;
}

.transactText{
    position: absolute;
    right: 0px;
    top: 220px;
    height: 60px;
    width: 100px;
    background-color: white;
    font-family: copperplate;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
    color: #010101;
    
}