.propertyListItem{
    position: relative;
    height: 100px;
    width: 95%;
    border: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    color: #010101;
    background-color: #E4E4E4;
    border: 5px solid #E4E4E4;
    /* background-color: white;
    font-family: copperplate;
    font-weight: 100;
    letter-spacing: 1px;
    color: #010101;
    border: 2px solid #E4E4E4; */
    border-radius: 10px;
}

img.picture{
    position: relative;
    display: inline-block;
    height: 100px;
    margin-left: 2px;
    width: auto;
}

.fields{
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 39px;
    width: 80%;
    min-width: 315px;
    top: -30px;
}

.textField{
    position: relative;
    display: inline-block;
    margin-left: 50px;
    width: 150px;
    top: 0px;
}

.buttons{
    position: absolute;
    top: 25px;
    right: 45px;
}

button.view{
    display: inline-block;
    position: relative;
}

button.other{
    display: block;
    position: relative;
}

button.deletePropertyButton{
    position: absolute;
    top: 37px;
    right: 5px;
};