.Browse{
    position: absolute;
    top: 120px;
    height: 80%;
    width: 100%;
}

img.search{
    position: absolute;
    display: block;
    top: 160px;
    left: 35px;
    width: 20px;
    height: 20px;
}

input.search {
    position: absolute;
    display: block;
    font-size: 12px;
    top: 160px;
    left: 60px;
    width: 140px;
    height: 14px;
}

.sortBy {
    position: absolute;
    display: block;
    font-family: copperplate;
    font-size: 18px;
    color: #010101;
    top: 160px;
    left: 280px;
}

.dropdown {
    position: absolute;
    display: block;
    top: 160px;
    left: 370px;
}

.propertiesListMobile{
    position: absolute;
    display: block;
    font-size: 12px;
    top: 30px;
    left: 30px;
    height: 475px;
    width: 90%;
    overflow-y:auto;
    border-radius: 5px;
}

.propertiesList:hover{
    border: 1px solid #ffd700;
}

.propertyView{
    position: absolute;
    background-color: #010101;
    height: 400px;
    width: 400px;
}