

.propertiesTabMobile{
    position: absolute;
    top: 120px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}

.myProperties{
    position: absolute;
    display: inline-block;
    left: 45px;
    top: 20px;
    font-family: copperplate;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 900;
    color: #F3BF01;
}

.savedProperties{
    position: absolute;
    display: inline-block;
    left: 45px;
    top: 380px;
    font-family: copperplate;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 900;
    color: #F3BF01;
}

button.add{
    position: absolute;
    display: inline-block;
    right: 150px;
    top: 20px;
    font-family: copperplate;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 900;
    background-color: white;
    color: #F3BF01;
    border: none;
}

button.add:hover{
    border: 1px solid #ffd700;
}

.myPropertiesList{
    height: 300px;
    left: 30px;
    top: 60px;
    position: absolute;
    overflow-y: scroll;
    z-index: 0;
    border-radius: 5px;
    width: 90%;
    min-width: 745px;
}

.myPropertiesList:hover{
    border: 1px solid #ffd700;
}

.savedPropertiesList{
    height: 400px;
    position: absolute;
    left: 30px;
    top: 420px;
    overflow-y:auto;
    border-radius: 5px;
    width: 90%;
    min-width: 745px;
}

.savedPropertiesList:hover{
    border: 1px solid #ffd700;
}