.propertyViewMobile{
    position: absolute;
    background-color: #F4F4F4;
    border-style: solid;
    border-color: #ffd700;
    border-width: 0px;
    box-shadow: 0 0 10px #333;
    height: 100%;
    width: 80%;
    left: 8%;
    top: 20px;
    padding-left: 10px;
    z-index: 1000;
    border-radius: 10px;
    color: #5E5E5E;
}

.viewPropertyScrollable{
    position: relative;
    top: 20px;
    height: 90%;
    width: 100%;
    overflow: auto;
    padding-bottom: 0px;
}

.viewPropertyAttributes{
    position: relative;
    top: 75%;
    left: 5%;
    height: 50%;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

button.closeView{
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
}

button.rightArrow{
    position: absolute;
    background-color: #F4F4F4;
    border: 0px; 
    border-radius: 0px;
    color: #5E5E5E;
    font-size: 30px;
    height: 50px;
    top: 30%;
    right: 20%;
}

button.rightArrow:hover{
    border: 1px solid #C4C4C4;   
}

button.leftArrow{
    position: absolute;
    background-color: #F4F4F4;
    border-radius: 0px;
    border: 0px; 
    color: #5E5E5E;
    font-size: 30px;
    height: 50px;
    top: 30%;
    left: 20%;
}

button.leftArrow:hover{
    border: 1px solid #C4C4C4;   
}

.viewPicture{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 60%;
    width: auto;
    margin-bottom: 100px;
}

.viewPair{
    position: relative;
    display: inline-block;
    margin: 50px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #AFAFAF;
    padding: 10px;
}

.viewAddress{
    position: relative;
    display: block;
    width: 40%;
    top: 70%;
    margin: auto;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #AFAFAF;
    padding: 10px;
}

.viewDescriptionPair{
    position: relative;
    display: block;
    width: 60%;
    top: 75%;
    margin: auto;
    word-wrap: break-word;
}

.viewAddressData{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

.viewTextDescription{
    margin-top: 10px;
}

.viewText{
    margin-top: 10px;
}

.viewTextData{
    position: relative;
    text-align: center;
}

.hiddenBottomAttributes{
    width: 0px;
    margin-right: 100%;
    height: 1px;
}