.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #030303;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.small {
  position: absolute;
  background-color: #030303;
  background-size: contain;
  outline: 0;
  left: 50px;
  top: 25px;
  height: 50px; 
  width: 50px;
  border: none;
}

button.signIn {
  position: absolute;
  background-color: #030303;
  font-weight: 900;
  font-size: 20px;
  right: 75px;
  top: 40px;
  color: #ffd700;
  border: none;
}

img.small {
  position: relative;
  height: 49px; 
  width: 49px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
