.App {
  text-align: center;
}

.App-header {
  background-color: #010101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button.small {
  position: absolute;
  background-color: #010101;
  background-size: contain;
  outline: 0;
  left: 50px;
  top: 25px;
  height: 50px; 
  width: 50px;
  border: none;
}

button.signIn {
  position: absolute;
  background-color: #010101;
  font-family: copperplate;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1px;
  right: 75px;
  top: 40px;
  color: #ffd700;
  border: none;
}

button.signIn:hover {
  border: 1px solid #ffd700;
}

img.plant {
  animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

img.small {
  position: relative;
  height: 49px; 
  width: 49px;
}


.SignIn {
  position: absolute;
  right: 50px;
  top: 70px;
}

.CreateAccount {
  position: absolute;
  right: 50px;
  top: 70px;
}

.want {
  font-family: copperplate;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 22px;
  animation: fadeIn ease 5s;
}

.name {
  color: #ffd700;
  font-family: copperplate;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1px;
  animation: fadeIn ease 5s;
}

.homeAbout{
  position: absolute;
  height: 100%;
  width: 100%;
  top: -5%;
  left: 5%;
}

